.App {
    text-align: center;
}

.App-header {
    background-color: purple;
    height: 60px;
    padding: 10px;
    color: white;
}

.App-title {
    position: absolute;
    top: 0px;
    left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;

}

.Address-container {
    position: absolute;
    font-size: 15px;
    padding-left: 100px;
    padding-top: 15px;
}

.Post-button {
    position: static;
    border: none;
    background: transparent;
    color: white;
    top: 10px;
    right: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: right;
}

.Browse-button {
    position: static;
    border: none;
    background: transparent;
    top: 10px;
    right: 10px;
    padding: 15px 32px;
    text-align: left;
    color: white;
    text-decoration: none;
    display: transparent;
    font-size: 18px;
    float: right;

}

.My-Questions-button {
    position: static;
    border: none;
    background: none;
    color: white;
    top: 10px;
    right: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    float: right;

}

.Main-panel {

}
