.QuestionList {
    text-align: center;

}

.QuestionList-container {
    /*float: left;*/
    position: static;
    display: block;
    border-radius: 5px;
    background-color: #ececec;
    /*padding: 10px;*/
    /*margin-left: 50px;*/
    /*padding-left: 50px;*/
    padding-top: 20px;
    /*max-width: 600px;*/
    width: 85%;
    margin: 0 auto;

}

.Individual-Question-container {
    color: slategray;
    /*border-style: solid;*/
    padding-bottom: 5px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/

}

.Individual-Question-Title {
    font-size: 20px;
    text-align: left;
    width: 80%;

}

.Individual-Question-Description {
    font-size: 20px;
    text-align: left;
    width: 80%;

}

.Individual-Question-Time {
    text-align: left;
    /*display: inline;*/
    /*align: left;*/

}

.Individual-Question-Bounty {
    /*text-align: right;*/
    position: absolute;
    /*align: right;*/
    width: 50%;
    float: right;
    padding-left: 600px;

}